.gradientHome {
  /*  background-image: url("../images/homepage_background.png"); */
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iIzQwNjZlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2QwZDhmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzUzNzZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, white 12%, #4066e1 21%, #d0d8f3 58%, #5376e4 85%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(12%, white), color-stop(21%, #4066e1), color-stop(58%, #d0d8f3), color-stop(85%, #5376e4), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, white 12%, #4066e1 21%, #d0d8f3 58%, #5376e4 85%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, white 12%, #4066e1 21%, #d0d8f3 58%, #5376e4 85%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, white 12%, #4066e1 21%, #d0d8f3 58%, #5376e4 85%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, white 12%, #4066e1 21%, #d0d8f3 58%, #5376e4 85%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
}

.gradient {
  height: 100%;
  background: -webkit-linear-gradient(white 180px, #4066e1 300px, #cfd8f3 100%);
}

#dayoneCarouselContainer {
  background: rgba(58, 59, 120, 0.25);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.carouselImage {
  width: 400px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

/* This controls the grey boxes in the bottom of the home page */
.homeSectionHeader {
  font-weight: bold;
}

.homeSectionBox {
  padding: 5%;
  border-radius: 10px;
  background: #cfcece;
  /* overflow: hidden; */
  text-align: left;
}

.homeSectionTitle {
  margin-left: auto;
  margin-right: auto;
}

.partnerLogo {
  margin-bottom: 10%;
}

/* This controls the grey boxes in the bottom of the home page */
#dayOneFooterNav {
  padding-top: 5%;
}

.border {
  border: 1px solid red;
}

.worldmap {
  position: relative;
}

.worldmap-title {
  text-align: center;
  color: white;
  margin-top: 150px;
  position: absolute;
  width: 80%;
  margin-left: 9%;
  font-size: 2em;
  text-shadow: 2px 2px 2px #4e4b4b;
}

.nav > li {
  /* There is no Bootstrap variable in variable.scss that controls this. Overriding it here. */
  background-color: #4e4b4b;
  border-radius: 4px;
  font-size: 1.5em;
}
.nav > li a {
  color: white;
}
.nav > li a:hover {
  background-color: #5ac2ff;
  color: black;
}

#socialMediablock {
  padding-top: 5%;
}

.center {
  text-align: center;
}

/* Makes text white -- mainly for waterbag page */
.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* This changes the color of all the body section text in the site */
.infoSection {
  color: #4e4b4b;
  font-size: 1.5em;
}

.partnerName {
  font-weight: bold;
}

/* The semi-transparent background behind text */
.contentBackground {
  background: rgba(255, 255, 255, 0.5);
  margin-top: 5%;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}

/* Semi-trans background on Waterbag page -- refactor later to extend .contentBackground. */
.waterbagContentBackgroundRight, .pressCommunityBackround {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 15px;
  padding-left: 20px;
  padding-bottom: 8px;
  margin: 5px;
}

.waterbagContentBackgroundLeft {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 15px;
  padding-left: 20px;
  padding-bottom: 34px;
  margin-top: 5px;
}

.waterbagContentBackgroundFull {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 1%;
  margin-top: 5px;
}

.waterbagCarousel {
  background: #7e87b0;
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 1%;
  margin: 5px;
  height: 400px;
}

.waterbagCarouselImage {
  margin: auto;
}

.waterbagMarginShift {
  /* margin-left: 5px; */
}

.waterbagBackground {
  margin-top: 5px;
  background: white;
  border-radius: 4px;
}

.waterbagSpecsTable td, .waterbagSpecsTable th {
  padding: 5px;
  border: 1px solid #5081b9;
}
.waterbagSpecsTable th {
  background: #5081b9;
}
.waterbagSpecsTable td {
  font-size: .8em;
}

.partnersCarousel {
  background: #7e87b0;
  border-radius: 4px;
  /* 	height: 400px; */
  /* 	overflow: hidden; */
}

.partnersCarouselImage {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid white;
  border-radius: 4px;
}

.button-order, .button-orderSmall {
  height: 40px;
  background: #F1B172;
  /* #7e87b0 */
  padding: 1%;
  border-radius: 4px;
  border: 1px solid #965A3C;
}
.button-order a, .button-orderSmall a {
  color: white;
}
.button-order a:hover, .button-orderSmall a:hover {
  text-decoration: none;
}
.button-order:hover, .button-orderSmall:hover {
  background-color: #5ac2ff;
  color: black;
}

.ordertextLarge {
  font-size: 2em;
  padding: 10px;
}

.button-orderSmall {
  margin: 5px;
}

/* .contentPadding {
	padding:5%;
} */
/* ABOUT page specifics */
.aboutBio {
  font-size: .8em;
}

.bioRowFiller {
  height: 20px;
}

#prodDescript ul li {
  font-size: .8em;
}

/* SAL: this is only to show how the DIVs break down */
/* [class*="col"] {
	border: 1px solid black;
} */
#contactUsBtn {
  margin-top: 8%;
  background: #a7a9ac;
  font-size: 1.5em;
  padding-right: 12%;
  padding-left: 12%;
  color: white;
}
#contactUsBtn:hover {
  background: #5ac2ff;
  color: black;
}

/* SAL: This needs to disappear or change when the screen is smaller */
#contactImg {
  margin-top: 25%;
}

/* overwritting Arrows for slick on the Homepage Carousel*/
.slick-prev, .slick-next {
  height: 40px;
  width: 40px;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: #3a3b96;
  z-index: 10;
}

/* Legaleese formatting */
#terms ul li, #privacy ul li {
  font-size: .8em;
  list-style-type: none;
  padding-bottom: 8px;
}
#terms .boldedText, #privacy .boldedText {
  font-weight: bold;
}
#terms h2, #privacy h2, #terms h3, #privacy h3 {
  font-weight: bold;
}

/* Privacy formatting */
#privacy .sharingPersonalInfo li {
  list-style-type: initial;
}

/* Qtip2 formatting  */
.qtip-dayone {
  border: solid 5px #b7b7b7;
  background: #e1e1e1;
}

/* This turns off the sign in link on purchase.html */
div.ecwid-productBrowser-auth {
  display: none;
}

/* To cover different formatting of product page */
.waterbagTagline {
  font-style: italic;
  font-size: .8em;
}

.waterbagTreatList
ul {
  list-style-type: disc;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
}

/* SAL need to make background disappear when smaller @media */
#communityBackground {
  background-image: url("../images/community_background.png");
  background-size: 100% 100%;
  width: 100%;
  height: 511px;
}

.comVideo {
  background: #becaf2;
  padding: 50px;
  margin-top: 50px;
  border-radius: 4px;
}

.videoBox {
  /* 	background-color: blue; */
  width: 500px;
  height: 340px;
  /* 320 */
}

.video-nav {
  height: 150px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.centerVideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.videoCaption {
  text-align: center;
}

.pressTitle {
  font-size: .8em;
  color: #006fba;
  line-height: 120%;
  margin-top: 20px;
}

.pressBlurb {
  font-size: .6em;
  padding-left: 20px;
  margin-top: -5px;
}

.pressCommunityBackround {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

#pgHomeBackground {
  margin-top: 100px;
}

.pgContentBackgroundRight {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 5px;
}

.pgContentBackgroundLeft {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 2%;
  padding-left: 3%;
  padding-right: 2%;
  margin-top: 5px;
}

.pgUseList {
  font-size: .8em;
}

.pgCarousel {
  background: #7e87b0;
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 1%;
  margin: 20px;
  height: 400px;
  width: 430px;
}

.pgCarouselImage {
  margin: auto;
  float: left;
}

.pg-button-order {
  height: 120px;
  background: rgba(255, 255, 255, 0.5);
  padding: 1%;
  border-radius: 4px;
}
.pg-button-order a {
  color: #4e4b4b;
  font-size: 1.5em;
}
.pg-button-order a:hover {
  text-decoration: none;
}
.pg-button-order:hover {
  background-color: #5ac2ff;
  color: black;
}

#pg_logo_button {
  margin: 10px;
  margin-right: 30px;
}

@media (max-width: 900px) {
  .worldmap-title {
    margin-top: 75px;
    font-size: 2em;
    margin-left: 5%;
  }
}
@media (max-width: 991px) {
  .header_pglogo {
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-right: 10px;
  }

  #contactUsBtn {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .partnersCarouselImage {
    margin-bottom: 20px;
  }

  .carouselImage {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .pg-button-order a {
    font-size: 1.3em;
  }

  #pg_logo_button {
    display: none;
  }

  #pgHomeBackground {
    display: none;
  }

  .worldmap-title {
    margin-top: 10px;
    font-size: 1em;
    margin-left: 5%;
  }

  .partnersCarouselImage {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .partnersCarouselImage {
    width: 275px;
  }

  .carouselImage {
    width: 275px;
    height: auto;
    margin-bottom: 0;
  }
}
